section {
    width: 100%;
}

.slide {
    display: flex;
    flex-wrap: nowrap;

    overflow: hidden;

    position: relative;
    width: 100%;
}

.slide_item {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    left: 0px;

    flex-shrink: 0;

    transition: left 0.5s;
}

.slide_item > img {
    
    width: 100%;
}

/* 페이지네이션 스타일 */
.slide > ul, li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.slide_pagination {
  /* layout */
  display: flex;
  gap: 10px;

  /* position */
  position: absolute;
  bottom: 0;
  /* left:50%, translateX(-50%)를 하면 가로 가운데로 위치시킬 수 있다. */
  left: 50%;
  transform: translateX(-50%);
}
.slide_pagination > li {
  /* 현재 슬라이드가 아닌 것은 투명도 부여 */
  color: #ffffff;
  opacity: 0.25;
  cursor: pointer;
  font-size: 35px;
}
.slide_pagination > li.active {
  /* 현재 슬라이드 색상은 투명도 없이 */
  color: #ffffff;
  opacity: 0.75;
}

/* 계절에 따른 슬라이드 변형 */
.thumb-slide-box {
  display: block;
  width: 100%;
  height: auto;  
}

.outside {
  width: 100%;
  height: 13px;
  min-height: 100px;
}

.thumb-slide {
  position: relative;
  width: 100%;
  height: 650px;
}

/* 중앙 슬라이드 */
.onModel {
  float: left;
    width: 480px;
    height: 100%;
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto 0;
    z-index: 10;
}

.onModel-container {
  float: left;
  width: 600%;
  height: 100%;
}

.trans_smth {
  transition: all 0.8s;
}

.trans {
  transition: none;
}

.onModel-box {
  height: 100%;
  width: 480px;
  float: left;
}

.onModel-box img {
  width: 100%;
}

/* 우측 슬라이드 */
.cloth {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.cloth-container {
  position: relative;
  left: 0;
  float: left;
  height: 100%;
  display: flex;
  align-items: center;

}

.cloth-box {
  float: left;
  width: 480px;
  height: 100%;
  margin: 0 40px;
}

.cloth-box img {
  width: 100%;
  height: 100%;
}
