body, section, div, img, p {
    box-sizing: border-box;
    margin: 0;
}

body {
    padding: 0px;
}

section {
    width: 100%;
    height: auto;
    padding: 0px;
}

/* banner */
.body_inner, .banner_suit, .banner_suit img{
    display: block;
    width: 100%;
    padding: 0px;
}

/* products */
.products {
    width: 100%;
    padding: 0px 242px 100px;
}

.product_list_box {
    width: 100%;
    padding: 0;
}


/* Title */
h2{
    padding: 70px 0px;
    width: 100%;
    font-size: 45px;
    font-weight: 700;
    font-family: "Nunito Sans";
    text-align: center;
    border-bottom: 1.5px solid #1d1d1d;
}

/* product list */
.prod_list {
    padding-top: 70px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* product one */
.product_card {
    width: 280px;
}
/*product image */
.product_img {
    padding: 0px;
    width: 100%;
}

.product_img img {
    padding: 0px;
    width: 100%;
}

/*product info -> name, price */
.product_info {
    width: 100%;
    padding: 10px;    
}

.product_info span {
    display: block;
    font-size: 16px;
    font-weight: 300;
    color: #1d1d1d;
    font-family: "Nunito Sans";
    line-height: 16px;
}

.product_info .product_price {
    margin: 10px 0 0;
    font-weight: 600;
}