body {
    margin: 0px;
    padding: 0px;
}

#header {
    height: 155px;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.header_inner {
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    font-family: 'Nunito Sans','Noto Sans KR','Nanum Gothic';
    font-weight: 800;
}

#logo {
    align-items: center;
    padding-left: 40px
}

#logo > img {
    height: 160px;
}

#header-nav {
    width: 100%;
    padding: 0px 10px 0px;
}

#menus {
    list-style: none;
    margin: 0px;
    padding-inline-start: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 15px; 
}

#header_etc {
    margin: 0px;
    padding-inline-start: 0px;
    padding-right: 80px;
    font-size: 14px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#header_etc > #join {
    padding: 0 20px 0;
}
#body {
    width: 100%;
    height: auto;
    margin: 0px;
    padding: 0px;
}
.body_inner .banner_suit{
    display: block;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.banner_suit > img {
    width: 100%;
}

.products {
    width: 100%;
    margin: 0px;
    padding: 0px 0px 100px;
}

.product_list_box {
    margin: 0px 40px;
    padding: 0px;
}

h2{
    padding: 70px 0px;
    margin: 0 auto;
    width: 1200px;
    font-size: 45px;
    font-weight: 700;
    font-family: "Nunito Sans", "Noto Sans KR", "Nanum Gothic";
    line-height: 56px;
    text-align: center;
    border-bottom: 1.5px solid #1d1d1d;
}

.prod_list {
    padding-top: 70px;
    margin: 0 auto;
    width: 1200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.product_card {
    width: 280px;
    height: auto;
    /* background-color: gray; */
}
.product_img {
    padding: 0px;
    margin: 0px;
    width: 280px;
    height: 336px;

}

.product_img > img {
    padding: 0px;
    margin: 0px;
    width: 100%;
}

.product_info {
    display: block;
    padding: 10px;
    
}

.product_info span {
    display: block;
    height: 16px;
    font-size: 16px;
    font-weight: 300;
    color: #1d1d1d;
    font-family: "Nunito Sans", "Noto Sans KR";
    line-height: 14px;
}

.product_info .product_price {
    margin: 10px 0 0;
    font-weight: 600;
}

#footer {
    background-color: #333;
    height: 200px;
    width: 100%;
    display: block;
}

.footer_inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 40px 40px 32px;
    margin: 0px;
}

.company_info .info_title {
    font-weight: 800;
    padding-left: 0px;
    font-size: 15px;
    padding-bottom: 10px;
    border: 0px;
}

.company_info .bar_none {
    padding-left: 0px;
    border: 0px;
}

.company_info span {
    display: inline-block;
    font-size: 13px;
    color: #9a9a9a;  
    margin: 6px 0px;
    padding: 0px 11px 0px 16px;
    line-height: 10px;
    border-left: 1px solid #555;
}

.customer_service .cs_title{
    font-weight: 800;
    padding-left: 0px;
    font-size: 15px;
    padding-bottom: 10px;
    border: 0px;
}

.customer_service span {
    display: inline-block;
    font-size: 13px;
    color: #9a9a9a;  
    margin: 6px 0px;
    padding: 0px 11px 0px 16px;
    line-height: 10px;
    border-left: 1px solid #555;
}

.customer_service .ph_num{
    padding-left: 0px;
    font-size: 15px;
    border: 0px;
}

.customer_service .bar_none{
    padding-left: 0px;
    border: 0px;
}