section {
    width: 100%;
}

/* 슬로건 */
.slogan {
  position: relative;
  height: 850px;
  width: 100%;
  background-color: white;
}

.contents {
  position: fixed;
  top: 250px;
  right: 0;
  left: 0;
  margin: 0 auto;
  height: auto;
  width: 100%;
  z-index: 1;
}

.contents .img {
  position: relative;
  right: 0;
  left: 0;
  top: 0;
  margin: 0 auto;
  width: 300px;
  height: auto;
  padding: 0;
}

.contents img {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.contents .text {
  font-family: serif;
  margin-top: 30px;
  font-weight: bolder;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 230px;
  justify-content: space-between;
  font-size: 45px;
}

.opacity {
  opacity: 1;
}

/* 계절에 따른 슬라이드 변형 */
.thumb-slide-box {
  position: relative;
  display: block;
  width: 100%;
  height: auto;  
  background-color: white;
}

.thumb-slide-box, .thumb-slide-box * {
  position: relative;
  z-index: 2;
}

.thumb-slide {
  position: relative;
  width: 100%;
  height: 650px;
}

/* 캐러셀 관련 공통 모듈 */
.box {
  height: 100%;
  overflow: hidden;
  position: absolute;
}

.slide-container {
  position: relative;
  left: 0;
  float: left;
  height: 100%;
  display: flex;
  align-items: center;
}

.trans {
  transition: all 0.8s;
}

.slide-item {
  float: left;
  width: 480px;
  height: 100%;
}


.slide-item img {
  width: 100%;
  height: 100%;
}

.margin {
  margin: 0 40px;
}

/* 착장샷 캐러셀 */
.onModel {
  width: 480px;
  left: 0;
  right: 0;
  margin: 0 auto 0;
  z-index: 10;
}

/* 옷사진 캐러셀 */
.cloth {
  left: 0;
  width: 100%;
  z-index: 9;
}

/* Introduction */
.Introduction {
  position: relative;
  width: 100%;
  height: 350vh;
  z-index: 2;
  margin-top: 20vh;
}

.Introduction-container {
  position: sticky;
  display: flex;
  top: 30vh;
  width: 100%;
  height: 55vh;
  align-items: center;
  justify-content: space-between;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.Introduction-text {
  position: absolute;
  width: 500px;
  height: 130px;
  padding: 5px;
  z-index: 3;
  left: 5vw;
  letter-spacing: .009em;
}

.text-box {
  position: absolute;
  display: flex;
  justify-content: center;
  top: 0;
  font-size: 16px;
  font-weight: 300;
  flex-direction: column;
  align-items: center;
}

.Introduction-text .dark {
  font-size: 24px;
  font-weight: 600;
}

.Introduction-img {
  position: absolute;
  height: 100%;
  width: 60%;
  right: 1vw;
  overflow: hidden;
  background-color: black;
}

.Introduction-img img {
  position: absolute;
  width: 100%;
  height: auto;
}

.hide {
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.show {
  opacity: 1;
  transition: all 0.3s ease-in-out;
}

.up {
  top: 0px;
  transition: all 0.5s ease-out;
}

.down {
  top: 50px;
  transition: all 0.5s ease-out;
}

/* fashion show video */
.fashion-show {
  position: relative;
  width: 100%;
  height: 85vh;
  z-index: 2;
}

.fashion-show-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.fashion-show-title {
  position: relative;
  width: 80%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fashion-show-container .contact{
  position: absolute;
  z-index: 3;

}

.fashion-show-container video {
  width: 100%;
}